<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- SQL문 정의할 때 VO표현을 간단하게 하고 싶은 경우. 별명을 지어서 사용 -->
	<typeAliases>
		<typeAlias type="com.multi.wave.member.MemberVO" alias="memberVO"></typeAlias>
		<typeAlias type="com.multi.wave.showdetail.ShowDetailVO" alias="ShowDetailVO"></typeAlias>
		<typeAlias type="com.multi.wave.festivaldetail.FestivalDetailVO" alias="FestivalDetailVO"></typeAlias>
    <typeAlias type="com.multi.wave.md.MDPostVO" alias="mdPostVO"></typeAlias>
    <typeAlias type="com.multi.wave.md.MDImgVO" alias="mdImgVO"></typeAlias>      	
    <typeAlias type="com.multi.wave.md.MDCommentVO" alias="mdCommentVO"></typeAlias>
    <typeAlias type="com.multi.wave.instar.InstarVO" alias="instarVO"></typeAlias>
    <typeAlias type="com.multi.wave.festival.FestivalVO" alias="festivalVO"></typeAlias>
		<typeAlias type="com.multi.wave.show.ShowVO" alias="showVO"></typeAlias>
		<typeAlias type="com.multi.wave.festival.PageVO" alias="pageVO"></typeAlias>
		<typeAlias type="com.multi.wave.show.Page1VO" alias="page1VO"></typeAlias>
		<typeAlias type="com.multi.wave.notice.BoardVO" alias="BoardVO" />
		<typeAlias type="com.multi.wave.notice.FaqVO" alias="FaqVO" />
		<typeAlias type="com.multi.wave.notice.InquiryVO" alias="InquiryVO" />
		<typeAlias type="com.multi.wave.notice.ReplyVO" alias="ReplyVO" />
		<typeAlias type="com.multi.wave.my.MyVO" alias="MyVO"></typeAlias>
		<typeAlias type="com.multi.wave.review.ReviewVO" alias="ReviewVO"></typeAlias>
		<typeAlias type="com.multi.wave.MainShowVO" alias="MainShowVO"></typeAlias>
		<typeAlias type="com.multi.wave.MainFestivalVO" alias="MainFestivalVO"></typeAlias>
		<typeAlias type="com.multi.wave.md.PagingVO" alias="PagingVO"></typeAlias>
		<typeAlias type="com.multi.wave.notice.PagingVO2" alias="PagingVO2"></typeAlias>	
		<typeAlias type="com.multi.wave.review.ReviewVO" alias="ReviewVO"></typeAlias>
	</typeAliases>

	<mappers>
		<!-- SQL문 정의하는 파일들의 목록을 지정. 테이블당 한개 사용 -->
		<mapper resource="mapper/memberMapper.xml" />
		<mapper resource="mapper/mypageMapper.xml" />
		<mapper resource="mapper/showDetailMapper.xml" />
		<mapper resource="mapper/festivalDetailMapper.xml" />
		<mapper resource="mapper/MDPostMapper.xml" />
    <mapper resource="mapper/MDImgMapper.xml"/>
    <mapper resource="mapper/MDCommentMapper.xml"/>
    <mapper resource="mapper/InstarMapper.xml"/>
    <mapper resource="mapper/festivalMapper.xml" />
		<mapper resource="mapper/showMapper.xml" />
		<mapper resource="mapper/boardMapper.xml" />
		<mapper resource="mapper/faqMapper.xml" />
		<mapper resource="mapper/inquiryMapper.xml" />
		<mapper resource="mapper/replyMapper.xml" />
		<mapper resource="mapper/myMapper.xml" />
		<mapper resource="mapper/reviewMapper.xml" />
		<mapper resource="mapper/mainMapper.xml" />
	  <mapper resource="mapper/chatBotMapper.xml" />
	</mappers>
</configuration>
