@charset "UTF-8";

body {
	line-height: 1.5;
	margin: 0;
	min-block-size: 100vh;
	padding: 5vmin;
}

input {
	border: none;
	margin: 0;
	padding: 0;
	border-radius: 0.1875em;
}

.idSearchRes {
	width: 400px;
	height: 300px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 21px;
}

.idSearchResHeader {
	background-color: #8AAAE5;
	border-top-left-radius: 1.25em;
	border-top-right-radius: 1.25em;
	color: #fff;
	padding: 0.5em;
}

.idSearchResBody {
	border-bottom-left-radius: 1.25em;
	border-bottom-right-radius: 1.25em;
	display: grid;
	gap: 0.875em;
	padding: 1.25em 1.625em;
}

.login .inputTxt {
	background-color: #ffffff;
	color: #777;
	padding: 0.25em 0.625em;
	width: 100%;
}

.option a {
	font-size: 12px;
	color: #8AAAE5;
	cursor: pointer;
	text-decoration: none;
}

.btn-1 {
	outline: none;
	margin-left: 5px;
	background: #8AAAE5;
	background: linear-gradient(0deg, #8AAAE5 0%,
		#8AAAE5 100%);
	border: none;
}

.btn-1:hover {
	background: #8AAAE5;
	background: linear-gradient(0deg, #8AAAE5 0%,
		#8a8de5 100%);
	cursor:pointer;
}

#pwSearch {
	display : none;
}