<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="faq">
	<insert id="insert" parameterType="faqVO"
		useGeneratedKeys="true" keyProperty="faq_id">
		insert into FAQ values
		(null,#{faq_title},#{faq_content},NOW(),#{img})
	</insert>

	<delete id="delete" parameterType="FaqVO">
		delete from faq where faq_id = #{faq_id}
	</delete>

	<update id="update">
		update faq
		set faq_title=#{faq_title},
		faq_content=#{faq_content}, img=#{img},
		faq_create_date=DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s')
		where faq_id=#{faq_id}
	</update>

	<select id="one" parameterType="map" resultType="FaqVO">
		select * from faq
		where faq_id = #{faq_id} and faq_title = #{faq_title}
	</select>

	<select id="oneById" resultType="FaqVO">
		select * from faq where faq_id=#{faq_id}
	</select>

	<select id="all" resultType="FaqVO">
		select * from faq
	</select>
</mapper>



