<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="festival">
	<insert id="insert" parameterType="festivalVO">
		INSERT INTO `festival`
		(fsv_name, fsv_tel, fsv_start, fsv_end, fsv_orgimg, fsv_thumb,
		fsv_add, fsv_lat, fsv_lon)
		VALUES (#{fsv_name}, #{fsv_tel},
		#{fsv_start}, #{fsv_end},
		#{fsv_orgimg}, #{fsv_thumb}, #{fsv_add},
		#{fsv_lat}, #{fsv_lon})
	</insert>

	<delete id="deleteAll">
		DELETE FROM `festival`
	</delete>

	<select id="list" resultType="festivalVO">
		SELECT fsv_id, fsv_name, fsv_orgimg
		FROM `festival`
	</select>

	<select id="all" resultType="festivalVO" parameterType="pageVO">
		select *
		from (
		select ROW_NUMBER() over(order by fsv_id desc) as fsv_no,
		fsv_id, fsv_name, fsv_start, fsv_end, fsv_orgimg
		from festival f) festival2
		where
		festival2.fsv_no between ${start} and ${end}

	</select>

	<select id="list2" resultType="festivalVO"
		parameterType="pageVO">
		select * from (
		select ROW_NUMBER() over(order by fsv_id
		desc) as fsv_no, fsv_id, fsv_name, fsv_start, fsv_end, fsv_orgimg
		from festival f)
		festival2
		where festival2.fsv_no between #{start} and #{end}
	</select>

	<select id="count" resultType="Integer">
		select count(*) from festival
	</select>

	<select id="search" resultType="festivalVO"
		parameterType="String">
		SELECT * FROM `festival` WHERE fsv_name LIKE CONCAT('%', #{query}, '%')
	</select>

	<select id="searchlist" resultType="festivalVO"
		parameterType="pageVO">
		select * from (
		select ROW_NUMBER() over(order by fsv_id desc) as fsv_no,
		fsv_id, fsv_name, fsv_orgimg
		from festival f
		WHERE fsv_name LIKE CONCAT('%', #{query}, '%')) AS festival2
		where festival2.fsv_no between #{start} and #{end}
	</select>
</mapper>







