<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="main">


	
	<select id="festival" resultType="MainFestivalVO">
		select * from festival order by rand() limit 5;
	</select>
	
	<select id="show" resultType="MainShowVO">
		select * from wave.show order by rand() limit 5;
	</select>
	
	
</mapper>



