<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">


	<!-- 회원가입 -->
	<insert id="insert" parameterType="memberVO"> <!-- resultType="int" 가 생략되어있음. int가 기본값 -->
		INSERT INTO member VALUES(#{mem_num}, #{mem_id}, #{mem_name}, #{mem_pw},
								  #{mem_nickname},#{mem_email},#{mem_birth},#{mem_zipcode},
								  #{mem_addr1},#{mem_addr2},#{mem_phone1},#{mem_phone2},#{mem_phone3},
								  #{mem_joy1},#{mem_joy2},null)
	</insert>
	
	<!-- 아이디 중복체크 -->
	<select id="memidCheck" parameterType="String" resultType="String">
		SELECT mem_id FROM member WHERE mem_id = #{mem_id}
	</select>
	
	<!-- 비밀번호 체크(로그인 시 사용) -->
	<select id="memberLogin" parameterType="memberVO" resultType="String">
		SELECT mem_pw FROM member WHERE mem_id =#{mem_id}
	</select>	
	
	<!-- 이메일 인증번호 요청하기 -->
	<!-- 1-1. 이름과 이메일 체크 -->
	<select id="idInfoCheck" parameterType="memberVO" resultType="String">
		SELECT mem_email FROM member WHERE mem_name = #{mem_name} and mem_email = #{mem_email}
	</select>
	<!-- 1-2. 아이디 알려주기 -->
	<select id="knowId" parameterType="memberVO" resultType="String">
		SELECT mem_id FROM member WHERE mem_name = #{mem_name} and mem_email = #{mem_email}
	</select>
	
	<!-- 네이버 소셜로그인 이메일을 통한 아이디 유무 체크 -->
	<select id="naverEmailChk" parameterType="String" resultType="String">
		SELECT mem_id FROM member WHERE mem_email = #{mem_email}
	</select>
	
	<!-- 네이버 소셜 로그인 회원가입 -->
	<insert id="naverInsert" parameterType="memberVO"> <!-- resultType="int" 가 생략되어있음. int가 기본값 -->
		INSERT INTO member VALUES(#{mem_num}, #{mem_id}, #{mem_name}, #{mem_pw},
								  #{mem_nickname},#{mem_email},#{mem_birth},#{mem_zipcode},
								  #{mem_addr1},#{mem_addr2},#{mem_phone1},#{mem_phone2},#{mem_phone3},
								  #{mem_joy1},#{mem_joy2},#{mem_img})
	</insert>
</mapper>











