<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reply">

    <select id="getRepliesByPostId" parameterType="int" resultType="ReplyVO">
        SELECT * FROM reply WHERE post_id = #{post_id}
    </select>
    
    <insert id="insertReply" parameterType="ReplyVO">
        INSERT INTO reply (post_id, writer, content, reg_date)
        VALUES (#{post_id}, #{writer}, #{content},CONVERT_TZ(NOW(),@@session.time_zone,'+09:00'))
    </insert>
    
    <update id="updateReply">
        UPDATE reply
        SET content = #{newContent}, reg_date = DATE_FORMAT(DATE_ADD(NOW(), INTERVAL 9 HOUR), '%Y-%m-%d %H:%i:%s')
        WHERE reply_id = #{replyId}
    </update>
	
	<delete id="deleteReply" parameterType="int">
        DELETE FROM reply WHERE reply_id = #{reply_id}
    </delete>
    
</mapper>