<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="show">

	<insert id="insert" parameterType="showVO">
		INSERT INTO `show`
		VALUES (
		#{show_id}, #{show_name}, #{show_start}, #{show_end}, #{show_place},
		#{show_actor}, #{show_crew},
		#{show_runtime}, #{show_age},
		#{show_company}, #{show_charge}, #{show_poster},
		#{show_story},
		#{show_genre}, #{show_when}
		)
	</insert>

	<delete id="deleteAll">
		DELETE FROM `show`
	</delete>


	<select id="list" resultType="showVO">
		SELECT show_id, show_name,
		show_poster
		FROM `show`
	</select>

	<select id="all" resultType="showVO" parameterType="page1VO">
		select * from
		(
		select ROW_NUMBER() OVER(ORDER BY show_id DESC) AS show_no, show_id,
		show_name, show_start, show_end, show_poster
		FROM `show` s2
		) AS show2
		WHERE show2.show_no BETWEEN ${start} AND ${end}

	</select>

	<select id="list2" resultType="showVO" parameterType="page1VO">
		select *
		from (
		select ROW_NUMBER() OVER(ORDER BY show_id DESC) AS show_no,
		show_id, show_name, show_start, show_end, show_poster
		FROM `show` s2
		) AS show2
		WHERE show2.show_no BETWEEN #{start} AND #{end}
	</select>

	<select id="count" resultType="Integer">
		select count(*) from `show`
	</select>


	<select id="search" resultType="showVO" parameterType="String">
		SELECT * FROM `show` WHERE show_name LIKE CONCAT('%', #{query}, '%')
	</select>

	<select id="searchlist" resultType="showVO"
		parameterType="page1VO">
		select *
		from (
		select ROW_NUMBER() OVER(ORDER BY show_id DESC) AS show_no,
		show_id, show_name, show_poster
		FROM `show` s2
		WHERE show_name LIKE CONCAT('%', #{query}, '%')
		) AS show2
		WHERE show2.show_no BETWEEN #{start} AND #{end}
	</select>


</mapper>










